.followings-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--header-footer-bg); /* 다크 테마 배경 */
    color: var(--text-color); /* 기본 텍스트 색상 */
    border-radius: var(--border-radius); /* 부드러운 모서리 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 부드러운 그림자 */
    padding-top: 100px;
}

.following-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.following-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* 부드러운 테두리 */
}

.following-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

.following-name {
    font-size: 1.2rem;
    color: var(--primary-color); /* 강조 색상 */
    font-weight: bold;
}

.following-action {
    margin-left: auto;
    color: var(--text-color);
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.following-action:hover {
    color: var(--primary-color); /* 호버 시 강조 색상 */
}
