/* 페이지 컨테이너 */
.search-result-page {
    padding-top: 100px; /* 고정된 Navbar 아래로 여백 추가 */
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px; /* 큰 화면에서 콘텐츠 너비 제한 */
    margin: 0 auto;
    background-color: var(--header-footer-bg); /* 다크 테마 배경색 */
    color: var(--text-color); /* 기본 텍스트 색상 */
}

/* 페이지 헤더 */
.search-result-header {
    text-align: center;
    margin-bottom: 30px;
}

.search-result-header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white; /* 강조 색상 */
    margin-bottom: 10px;
}

.search-result-header p {
    font-size: 1rem;
    color: white; /* 부드러운 텍스트 색상 */
}

/* 검색 결과 그리드 */
.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* 검색 결과가 없을 때 메시지 */
.no-results {
    text-align: center;
    font-size: 1.2rem;
    color: white; /* 부드러운 텍스트 색상 */
    margin-top: 50px;
}

/* 페이지 하단 */
.search-result-footer {
    text-align: center;
    margin-top: 50px;
    font-size: 1rem;
    color: white; /* 부드러운 텍스트 색상 */
}
