.box-office {
    padding: 20px;
    background: var(--background-color); /* App.css의 다크 테마 배경색 */
    border-radius: var(--border-radius);
    padding-top: 60px;
    color: var(--text-color); /* 기본 텍스트 색상 */
  }

  .box-office-poster {
    width: 100%;
    border-radius: var(--border-radius);
  }
  
  .box-office-no-poster img {
    width: 100%; /* 부모 요소 크기에 맞게 이미지 크기 설정 */
    height: 100%;
    object-fit: cover; /* 이미지가 영역에 맞게 잘리거나 확장되도록 설정 */
    border-radius: var(--border-radius); /* 둥근 테두리 추가 */
  }
  
  .box-office-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .box-office-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .box-office-item {
    background: var(--header-footer-bg); /* 카드 배경 어두운 색상 */
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .box-office-item:hover {
    transform: scale(1.05); /* 호버 시 확대 효과 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* 약간 더 진한 그림자 */
  }
  
  .box-office-rank {
    font-size: 20px;
    font-weight: bold;
  }
  
  .box-office-info h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .box-office-info p {
    font-size: 14px;
    color: #999;
  }
  
  .box-office-loading,
  .box-office-error {
    text-align: center;
    font-size: 18px;
    color: #333;
    padding: 20px;
  }
  